@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>
<hr />
<ul>
    <li>
        <h6>Celular/WhatsApp: (54)9.9906-7568</h6>
    </li>
    <li>
        <h6>E-mail: diklod.qi@gmail.com</h6>
    </li>
    <li>
        <h6>Perfil no LinkedIn: <a href="https://www.linkedin.com/in/jean-klod-vidal-3752b221a/" target="_blank">https://www.linkedin.com/in/jean-klod-vidal-3752b221a/</a></h6>
    </li>
</ul>