@{
    ViewData["Title"] = "Cursos Realizados";
}
<h1>@ViewData["Title"]</h1>
<hr />
<ul>
    <li>
        Técnico em Desenvolvimento de Sistemas - SENAC-RS Caxias do Sul - Previsão de conclusão em Março de 2025.
    </li>
    <br />
    <li>
        Formação em Cientista de Dados. - Udemy, Plataforma de Cursos Online - Previsão de conclusão em Agosto de 2024.
    </li>
    <br />
    <li>
        C# Completo Programação Orientada a Objetos + Projetos - Udemy, Plataforma de Cursos Online - <strong>Concluído</strong> em Março de 2024.
    </li>
    <br />
    <li>
        Javascript Essentials - Udemy, Plataforma de Cursos Online - <strong>Concluído</strong> em Fevereiro de 2024.
    </li>
    <br />
    <li>
        SQLServer - Udemy, Plataforma de Cursos Online - <strong>Concluído</strong> em Fevereiro de 2024.
    </li>
</ul>   