@{
    ViewData["Title"] = "Experiências Profissionais";
}
<h1>@ViewData["Title"]</h1>
<hr />
<ul>
    <li>
        Estágio em Desenvolvimento de Sistemas - Conecta Softwares - De Janeiro de 2024 à Maio de 2024.
    </li>
    <br />
    <li>
        Auxiliar de Produção - PISANI, Soluções em Plásticos - De Fevereiro de 2023 à Agosto de 2023.
    </li>
    <br />
    <li>
        Professor de Inglês - QI, Faculdade e Escola Técnica - De Novembro de 2011 à Dezembro de 2016.
    </li>
</ul>