@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos à minha plataforma pessoal.</h1>
</div>
<hr />
<br />
<p class="text-left">Aqui vocês poderão encontrar algumas informações a meu respeito, como um resumo de minha biografia, alguns cursos que realizei, minhas experiências profissionais e alguns meios de me contatar.</p>

