@{
    ViewData["Title"] = "Sobre Mim";
}

<style>
    p {
        text-align: left;
        justify-content: end;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>
        Meu nome é Jean Klod Vidal, nascido em 31 de maio de 1992, na cidade de Caxias do Sul - RS.
        Durante minha infância, sempre fui viciado em videogames e desde sempre procurei entender como as funcionam as mecânicas dos jogos.
        Meu sonho é um dia se tornar um desenvolvedor de jogos.
    </p>
    <p>
        Meu interesse pela programação começou em 2023, quando comecei uma transição de carreira.
        Me inscrevi para o curso Técnico em Desenvolvimento de Sistemas no Senac de Caxias do Sul e,
        desde então, gosto cada vez mais da área da tecnologia,
        sobretudo ao desenvolvimento e ciência de dados.
    </p>
    <p>
        No momento, estou em busca novas experiências no desenvolvimento de sistemas,
        afim de adquirir maiores conhecimentos para, em seguida,
        direcionar minha carreira para uma segmento específico, ao qual ainda estou em processod de descoberta.
    </p>
</div>
